/* 全局颜色变量 */
$color-primary: #96ddff;
$color-primary-light: #70c5ed;
$color-primary-dark: #17A0E1;

/* 背景色 */
$color-bg-yellow:#FFD700;
$color-bg-red:#FF3B30;
$color-color-red: #EF4444;

$color-bg-black: #000000;
$color-bg-black-secondary: #050505;
$color-bg-dark: #101010;
$color-bg-dark-first: #1A1A1A;
$color-bg-dark-second: #020105;
$color-bg-dark-two: #222222;
$color-bg-dark-clear: #27272A;
$color-bg-dark-select: #253035;
$color-bg-dark-menu: #252728;
$color-bg-dark-primary: #0f0f11;
$color-bg-dark-card: #1E1E2D;
$color-bg-dark-secondary: #121212;
$color-bg-dark-tertiary: #1A2023;
$color-bg-dark-card-secondary: #2A2A3D;
$color-bg-white: #ffffff;
$color-bg-light: #f9fafb;

/* 文字颜色 */
$color-text-white: #ffffff;
$color-text-account-name: #F8F9FA;
$color-text-desc :#AAAAAA;
$color-text-desc-secondary: #A1A1AA;
$color-text-placeholder-gray: #B6BFCA;
$color-text-light: #D1D5DB;
$color-text-nickname: #F8FAFC;
$color-text-light-secondary: #E5E7EB;
$color-text-gray: #9ca3af;
$color-text-secondary: #6B7889;
$color-text-tabs: #686D70;
$color-text-placeholder: #6B7280;
$color-text-tip: #6F7884;
$color-text-tags: #6C757D;
$color-text-three: #374151;
$color-text-four: #4B5563;
$color-text-seven: #71717A;
$color-text-agree: #89939F;
$color-text-white-disabled: rgba(255, 255, 255, 0.3);
$color-text-black: #000000;
$color-text-dark: #111827;
$color-text-dark-secondary: #1F2937;
$color-text-time: #94A3B8;
$color-text-add-gray: #ADB3BD;

/* 边框和分隔线 */
$color-border: #1F2937;
$color-border-light: #686D70;

/* 字体大小变量 */
$font-size-xxs: 8px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xl-sm: 22px;
$font-size-2xl: 24px;
$font-size-2xl-lg: 30px;
$font-size-3xl: 32px;
$font-size-3xl-lg: 36px;
$font-size-4xl: 48px;
$font-size-5xl: 50px;
$font-size-6xl: 60px;

/* 字体粗细 */
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* 间距变量 */
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-sm-xs: 10px;
$spacing-sm-md: 12px;
$spacing-md: 16px;
$spacing-lg: 20px;
$spacing-xl-sm: 24px;
$spacing-2xl-sm: 26px;
$spacing-2xl-md: 28px;
$spacing-2xl-lg: 30px;
$spacing-xl: 32px;
$spacing-2xl: 40px;
$spacing-3xl: 64px;
$spacing-4xl: 80px;
$spacing-5xl: 100px;

/* 圆角 */
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;
$border-radius-2xl: 24px;

/* 过渡动画 */
$transition-fast: 0.2s;
$transition-base: 0.3s;
$transition-slow: 0.5s;
